<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saliim.rekapkerja">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.saliim.rekapkerja.activity.admin.adminhome.UDKerjaanActivity"></activity>
        <activity android:name="com.saliim.rekapkerja.activity.admin.adminchart.StaffChartFragment" />
        <activity android:name="com.saliim.rekapkerja.activity.admin.adminstaff.StaffDetailActivity" />
        <activity
            android:name="com.saliim.rekapkerja.activity.PengaturanActivity"
            android:label="Pengaturan Akun" />
        <activity
            android:name="com.saliim.rekapkerja.activity.admin.adminhome.TambahTaskActivity"
            android:label="Tambah Kerjaan" />
        <activity android:name="com.saliim.rekapkerja.activity.admin.adminstaff.StaffListFragment" />
        <activity android:name="com.saliim.rekapkerja.activity.admin.adminhome.AdminHomeFragment" />
        <activity android:name="com.saliim.rekapkerja.activity.staff.chart.ChartFragment" />
        <activity android:name="com.saliim.rekapkerja.activity.staff.home.HomeFragment" />
        <activity android:name="com.saliim.rekapkerja.activity.admin.AdminActivity" />
        <activity
            android:name="com.saliim.rekapkerja.activity.auth.RegisterActivity"
            android:label="Register Rekap Kerja IDN" />
        <activity
            android:name="com.saliim.rekapkerja.activity.auth.LoginActivity"
            android:label="Login Rekap Kerja IDN">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.saliim.rekapkerja.activity.MainActivity" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>